* {
     margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-items: right;
    justify-content: right;
    height: 60px;
    background-color:#3A0107;
    width: 100%;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    margin-top: 15px;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.hero{
    width: 100%;
    display: flex;
    background-color: #0D0006;
}
