#navbar{
    display: flex;
    justify-items: right;
    justify-content: right;
    height: 50px;
    background-color: rgb(48, 148, 148);
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    margin-top: 10px;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}